.banner-button{
  margin: 0;
  position: absolute;
  bottom: 10px;
  width: 94%;
  left: 3%;
}

#subscribe
{
  height:70px;
  font-size: 30px;
  margin-bottom: 10px;
}

#navegar
{
  p
  {
    font-size: 17px;
  }
}