// Colors
$black: #000;
$red: red;


body {
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background: no-repeat fixed center center;
  width: 100%;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#portal_content {
  width: 100%;
  padding: 10px;
}
