// Colors
$black: #000;
$red: red;

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background: no-repeat fixed center center;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#portal_content {
  width: 100%;
  padding: 10px;
}

@media screen and (orientation:landscape) {

  body {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    width: 100%/* screen width */ ;
    height: 100%/* screen height */ ;
    overflow: scroll;
  }
}