// Colors
$black: #000;
$red: red;

// Type
$error: $red;

body {
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background: no-repeat fixed center center;
  width: 100%
}

#portal_content {
  width: 100%;
  padding: 10px;
}

#captcha {
  margin: 15px;
}

#error {
  display: none;
  color: $error;
}

