.banner
{
  padding: 0;
  margin: 10px -5% 0;
  //max-width: 800px;
  position: relative;
  z-index: 5;
}

.actions-card
{
  max-width: 400px;
  margin: 0 auto;
  display: none;
}

.nav-btn
{
  margin-top: 10px;
}

.banner-video
{
  margin-bottom: -6px;
}

@media screen and (min-width: 400px) {
  .banner
  {
    margin: 10px auto 0;
  }
}

